In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
csv_path = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(csv_path)

## Player Count

In [2]:
# Show purchase_df information
purchase_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Purchase ID  780 non-null    int64
 1   SN           780 non-null    object
 2   Age          780 non-null    int64
 3   Gender       780 non-null    object
 4   Item ID      780 non-null    int64
 5   Item Name    780 non-null    object
 6   Price        780 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.8+ KB

In [3]:
# Find total number of players from 'SN' column; they are exclusive to each player
player_count = len(purchase_df['SN'].value_counts())

In [4]:
# Put total players in a DataFrame
player_count_df = pd.DataFrame({'Total Players':[player_count]})
player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

In [5]:
# Find number of unique items from the 'Item ID' column
unique_items = purchase_df['Item ID'].nunique()

In [6]:
# Find average price of all purchases from the 'Price' column and round to 2 decimal places
avg_price = purchase_df['Price'].mean()
avg_price = round(avg_price,2)

In [7]:
# Find number of purchases from the 'Purchase ID' column
total_purchases = len(purchase_df['Purchase ID'])

In [8]:
# Find total revenue from the 'Price' column
total_revenue = purchase_df['Price'].sum()

In [9]:
# Put purchase analysis (total) into a DataFrame
purchase_analysis_total_df = pd.DataFrame({'Number of Unique Items': [unique_items],
                                           'Average Price': [avg_price],
                                           'Number of Purchases': [total_purchases],
                                           'Total Revenue': [total_revenue]})

In [10]:
# Format style for purchase analysis to include dollar signs in front of 'Average Price' and 'Total Revenue' rounded 2 decimal places
purchase_analysis_total_df.style.format({'Average Price': '${:,.2f}',
                                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

In [11]:
# Group purchases together by gender
gender = purchase_df.groupby('Gender')

In [12]:
# Seperate and count genders according to 'SN'
total_gender_count = gender.nunique()['SN']

In [13]:
# Find percentages of players according to gender
gender_percent = total_gender_count / player_count * 100

In [14]:
# Put gender demographics into a DataFrame
gender_demographics_df = pd.DataFrame({'Total Count': total_gender_count,
                                       'Percentage of Players': gender_percent})

In [15]:
# Drop 'Gender' from index
gender_demographics_df.index.name = ('')

In [16]:
# Sort by 'Total Count' and format gender demographics 'Percentage of Players' with percentage sign
gender_demographics_df = gender_demographics_df.sort_values(['Total Count'], ascending = False)

In [17]:
# Format style for gender demographics to include percentage signs behind 'Percentage of Players' rounded 2 decimal places
gender_demographics_df.style.format({'Percentage of Players': '{:,.2f}%'})


## Purchasing Analysis (Gender)

In [18]:
# Find purchase count by gender
purchase_count_gender = gender['Purchase ID'].count()

In [19]:
# Find average purchase price by gender
avg_purch_price = gender['Price'].mean()

In [20]:
# Find total purchase value by gender
purch_value = gender['Price'].sum()

In [21]:
# Find average purchase per person by gender
avg_purch_per_person = purch_value/total_gender_count

In [22]:
# Put purchase analysis (gender) into a DataFrame
purchase_analysis_gender_df = pd.DataFrame({'Purchase Count': purchase_count_gender,
                                            'Average Purchase Price': avg_purch_price,
                                            'Total Purchase Value': purch_value,
                                            'Avg Total Purchase Per Person': avg_purch_per_person})

In [23]:
# Format style for purchase analysis (gender) to include dollar signs in front of 'Average Purchase Price', 'Total Purchase Value' and 'Avg Total Purchase Per Person' rounded 2 decimal places
purchase_analysis_gender_df.style.format({'Average Purchase Price': '${:,.2f}',
                                          'Total Purchase Value': '${:,.2f}',
                                          'Avg Total Purchase Per Person': '${:,.2f}'})

## Age Demographics

In [24]:
#Create bins for ages
age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 130.9]
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [25]:
# Sort values into bins
purchase_df['Age Group'] = pd.cut(purchase_df['Age'], age_bins, labels = group_names, include_lowest = True)

In [26]:
# Group new data by 'Age Group'
ages = purchase_df.groupby('Age Group')

In [27]:
# Find number of unique ages from the 'SN' column
total_age_count = ages['SN'].nunique()

In [28]:
# Find percentages of players according to age
age_group_percent = (total_age_count / player_count) * 100

In [29]:
# Put age demographics into a DataFrame
age_demographics_df = pd.DataFrame({'Total Count': total_age_count,
                                    'Percentage of Players': age_group_percent})

In [30]:
# Drop 'Age Group' from index
age_demographics_df.index.name = ('')

In [31]:
# Format style for age demographics to include percentage signs behind 'Percentage of Players' rounded 2 decimal places
age_demographics_df.style.format({'Percentage of Players': '{:,.2f}%'})

## Purchasing Analysis (Age)

In [32]:
# Find purchase count by age
purchase_count_age = ages['Purchase ID'].count()

In [33]:
# Find average purchase price by age
avg_purch_price_age = ages['Price'].mean()

In [34]:
# Find total purchase value by age
purch_value_age = ages['Price'].sum()

In [35]:
# Find average purchase per person by age
avg_purch_per_person_age = purch_value_age/total_age_count

In [36]:
# Put purchase analysis (age) into a DataFrame
purchase_analysis_age_df = pd.DataFrame({'Purchase Count': purchase_count_age,
                                         'Average Purchase Price': avg_purch_price_age,
                                         'Total Purchase Value': purch_value_age,
                                         'Avg Total Purchase Per Person': avg_purch_per_person_age})

In [37]:
# Set index to 'Age Ranges'
age_demographics_df.index.name = ('Age Ranges')

In [38]:
# Format style for purchase analysis (age) to include dollar signs in front of 'Average Purchase Price', 'Total Purchase Value' and 'Avg Total Purchase Per Person' rounded 2 decimal places
purchase_analysis_age_df.style.format({'Average Purchase Price': '${:,.2f}',
                                       'Total Purchase Value': '${:,.2f}',
                                       'Avg Total Purchase Per Person': '${:,.2f}'})

## Top Spenders

In [39]:
# Group purchase data by 'SN'
spender = purchase_df.groupby('SN')

In [40]:
# Find purchase count by spender
purchase_count_spender = spender['Purchase ID'].count()

In [41]:
# Find average purchase price by spender
avg_purch_price_spender = spender['Price'].mean()

In [42]:
# Find total purchase value by spender
purch_value_spender = spender['Price'].sum()

In [43]:
# Put top spenders into a DataFrame
top_spenders_df = pd.DataFrame({'Purchase Count': purchase_count_spender,
                                'Average Purchase Price': avg_purch_price_spender,
                                'Total Purchase Value': purch_value_spender,})

In [44]:
# Show top 5 spenders
top_spenders_df = top_spenders_df.sort_values(['Total Purchase Value'], ascending = False).head()

In [45]:
# Format style for top spenders to include dollar signs in front of 'Average Purchase Price', 'Total Purchase Value' and 'Avg Total Purchase Per Person' rounded 2 decimal places
top_spenders_df.style.format({'Average Purchase Price': '${:,.2f}',
                              'Total Purchase Value': '${:,.2f}',
                              'Avg Total Purchase Per Person': '${:,.2f}'})

## Most Popular Items

In [46]:
# Create DataFrame from information related to items
items_df = purchase_df[['Item ID', 'Item Name', 'Price']]

In [47]:
# Group items by ID and Name
items = items_df.groupby(['Item ID', 'Item Name'])

In [48]:
# Find purchase count by item
purch_count_item = items['Price'].count()
purch_count_item

Item ID  Item Name
0        Splinter                                         4
1        Crucifer                                         4
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
                                                         ..
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: Price, Length: 179, dtype: int64

In [49]:
# Find total purchase value by item
purch_value_item = items['Price'].sum()

In [50]:
# Find item price
item_price = purch_value_item/purch_count_item

In [51]:
# Put most popular items into a DataFrame
most_popular_items_df = pd.DataFrame({'Purchase Count': purch_count_item,
                                   'Item Price': item_price,
                                   'Total Purchase Value': purch_value_item})

In [52]:
most_popular_items_df_format = most_popular_items_df.sort_values(['Purchase Count'], ascending = False).head()

In [53]:
# Format style for most popular items to include dollar signs in front of 'Average Purchase Price', 'Total Purchase Value' and 'Avg Total Purchase Per Person' rounded 2 decimal places
most_popular_items_df_format.style.format({'Item Price': '${:,.2f}',
                                           'Total Purchase Value': '${:,.2f}'})

## Most Profitable Items

In [54]:
# Sort by 'Total Purchase Value'
most_profitable_items_df = most_popular_items_df.sort_values(['Total Purchase Value'], ascending=False).head()

In [55]:
# Format style for most profitable items to include dollar signs in front of 'Average Purchase Price', 'Total Purchase Value' and 'Avg Total Purchase Per Person' rounded 2 decimal places
most_profitable_items_df.style.format({'Item Price': '${:,.2f}',
                                       'Total Purchase Value': '${:,.2f}'})